{% extends "fullscreen.html" %}
{% load i18n %}
{% block title %} {% trans "Map Viewer" %} - {{ block.super }} {% endblock %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="http://dev.sencha.com/deploy/ext-3.4.0/examples/shared/examples.css" />
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
{% include "geonode/xblock_header.html" %}
{{ block.super }}
{% if "gme-" in GOOGLE_API_KEY %}
<script src="https://www.google.com/jsapi?client={{GOOGLE_API_KEY}}"></script>
{% else %}
<script src="https://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% endif %}
<script type="text/javascript">
    google.load("earth", "1");
</script>
<script src="http://dev.sencha.com/deploy/ext-3.4.0/examples/shared/examples.js"></script>

<script type="text/javascript">
var app;
var markerLayer, polygonLayer;
var markers = new Array();
var polygons= new Array();

var currentAnswer = null;  //what we're currently searching for with the currently selected tool

var CLICK_CONTROL = OpenLayers.Class(OpenLayers.Control, {
    defaultHandlerOptions: {
        'single': true,
        'double': false,
        'pixelTolerance': 0,
        'stopSingle': false,
        'stopDouble': false
    },

    initialize: function(options) {
        this.handlerOptions = OpenLayers.Util.extend(
            {}, this.defaultHandlerOptions
        );
        OpenLayers.Control.prototype.initialize.apply(
            this, arguments
        );
        this.handler = new OpenLayers.Handler.Click(
            this, {
                'click': this.trigger
            }, this.handlerOptions
        );
    },

    trigger: function(e) {
        var map = e.object;
        var lonlat = map.getLonLatFromPixel(e.xy);
        var point = transformToLonLat(lonlat);

        var size = new OpenLayers.Size(21,25);
        var offset = new OpenLayers.Pixel(-size.w/2, -size.h);
        var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
        icon.imageDiv.firstChild.setAttribute("style","background-color:"+currentAnswer.color);

        if( markers[currentAnswer.id] ) {
            markerLayer.removeMarker(markers[currentAnswer.id]);
        }
        markers[currentAnswer.id] = new OpenLayers.Marker(lonlat,icon);
        markerLayer.addMarker(markers[currentAnswer.id]);

        MESSAGING.getInstance().send(
            new Message("point_response",
                {
                    point: {lat:point.x, lon:point.y},
                    answer: currentAnswer
                }
            )
        );
    }
});

function getLayerLegendInfo( layers, layer ) {
   for( var i=0; i<layers.length; i++ ) {
      if( layers[i].styles ) {
         if( layers[i].title == layer.name ) {
             return {
                        styles: layers[i].styles,
                        name:   layers[i].name,
                        url:    layers[i].url
                    }
         }
      }
   }
   return null;
}

function transformToXY( lonlat ) {
    var Geographic  = new OpenLayers.Projection("EPSG:4326");
    var Mercator = new OpenLayers.Projection("EPSG:900913");
    return new OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat).transform(Geographic,Mercator);
}

function transformToLonLat( lonlat ) {
    var Geographic  = new OpenLayers.Projection("EPSG:4326");
    var Mercator = new OpenLayers.Projection("EPSG:900913");
    return new OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat).transform(Mercator, Geographic);
}

Ext.onReady(function() {
{% autoescape off %}
    var config = {
        useCapabilities: false,
        tools: [{
            ptype: "gxp_wmsgetfeatureinfo",
            // uncomment the line below if you want feature info in a grid
            format: "grid",
            actionTarget: "main.tbar",
            outputConfig: {width: 400, height: 200, panIn: false}
        },
            {
                ptype: "gxp_coordinatetool",
                title: "<span class='x-btn-text'>{% trans 'Map Coordinates - longitude, latitude' %}</span>",
                actionTarget:  {target: "main.tbar"}
            },
            {
                ptype: "gxp_annotation",
                user: "{{ user.id }}",
                toggleGroup: 'featureGroup',
                actionTarget:  {target: "main.tbar", index: 6}
            }],
        createTools: function() {
            return [new Ext.Button({
                tooltip: GeoExplorer.prototype.backgroundContainerText,
                iconCls: 'icon-layer-switcher',
                menu: new gxp.menu.LayerMenu({
                    layers: this.mapPanel.layers
                })
            })]
        },
        proxy: "/proxy/?url=",
        siteUrl: "{{ SITE_URL }}",

        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "/maps/"
    };

    Ext.apply(config, {{ config }});
    
    app = new GeoExplorer.Viewer(config);

    MESSAGING.getInstance().registerHandler("info", function(m) { alert("the slave code received this 'info' message: "+m.getMessage()); });

    app.on("ready", function() {

        markerLayer = new OpenLayers.Layer.Markers("worldmap-markers");
        polygonLayer = new OpenLayers.Layer.Vector("worldmap-polygons", {
            styleMap: new OpenLayers.StyleMap({
                fillColor: "#aaaaaa",
                fillOpacity: 0.5
            })
        });

        var polygonControl =
            new OpenLayers.Control.DrawFeature(polygonLayer, OpenLayers.Handler.Polygon, {
                callbacks: {
                    done: function(geo) {
                       // window.alert('done: #points: '+geo.components[0].components.length);
//                       this.drawFeature(geo);
                       var polygon = [];
                       for( var i=0;i<geo.components[0].components.length; i++) {
                           var point = transformToLonLat({lon: geo.components[0].components[i].x, lat:geo.components[0].components[i].y});
                           polygon.push({lon: point.x, lat: point.y});
                       }

                       MESSAGING.getInstance().send(
                           new Message("polygon_response",
                               {
                                   polygon: polygon,
                                   answer: currentAnswer
                               }
                           )
                       );

                       var feature = new OpenLayers.Feature.Vector(geo);
                       var proceed = this.layer.events.triggerEvent( "sketchcomplete", {feature:feature});
                       if( proceed !== false ) {
                          feature.state = OpenLayers.State.INSERT;
                          if( polygons[currentAnswer.id] ) {
                             this.layer.removeFeatures([polygons[currentAnswer.id]]);
                          }
                          polygons[currentAnswer.id] = feature;
                          this.layer.addFeatures([feature]);
                          this.featureAdded(feature);
                          this.events.triggerEvent("featureadded",{feature:feature});
                       }

                    }
                }
            });

        app.mapPanel.map.addLayers([markerLayer,polygonLayer]);

        app.mapPanel.map.events.register("moveend", app.mapPanel, function(){
            // calculate lat/lon
            MESSAGING.getInstance().send(new Message("moveend",{center: transformToLonLat(app.mapPanel.map.getCenter()),zoomLevel:app.mapPanel.map.getZoom()}));
        });

        app.mapPanel.map.events.register("zoomend", app.mapPanel.map, function(){
            MESSAGING.getInstance().send(new Message("zoomend", app.mapPanel.map.getZoom()));
        });

        app.mapPanel.map.events.register("changelayer", app.mapPanel.map, function(e) {
            MESSAGING.getInstance().send(new Message("changelayer", {name: e.layer.name, id:e.layer.id, visibility:e.layer.visibility,opacity:e.layer.opacity, legendData: getLayerLegendInfo(app.config.map.layers, e.layer)}));
        }); 
//	app.mapPanel.map.events.register("changebaselayer", app.mapPanel.map, function(e) {
//            console.log("changebaselayer event:   id: "+e.layer.id+"   name: "+e.layer.name);
//        });
        MESSAGING.getInstance().registerHandler("setZoomLevel", function(m) { app.mapPanel.map.zoomTo(m.getMessage()); });
        MESSAGING.getInstance().registerHandler("setCenter",function(m) {
            var data = m.getMessage();
            Ext.example.msg("Info","setCenter: "+data.centerLat+","+data.centerLon+"   zoom="+data.zoomLevel);
            var pt = transformToXY({lon:data.centerLon,lat:data.centerLat});
            app.mapPanel.map.setCenter([pt.x, pt.y],data.zoomLevel,false,false);
        });
        MESSAGING.getInstance().registerHandler("setLayers",function(m) {
            var data = JSON.parse(m.getMessage());
            for(var id in data){
               var layer = app.mapPanel.map.getLayer(id);
               if( layer != null ) {
                 //  layer.setVisibility(data[id]['visibility']);
                   var ctrl = Ext.getCmp("layer_menu_" + layer.id);
                   layer.setOpacity(data[id]['opacity']);
                   if( (ctrl.checked && !data[id]['visibility']) || (!ctrl.checked && data[id]['visibility']) ) {
                       ctrl.setChecked( data[id]['visibility']);
                   }
               } else {
                   console.log("ERROR: could not find layer for id: "+id);
               }
            }
        });

        var markerControl = new CLICK_CONTROL();
        app.mapPanel.map.addControl(markerControl);
        app.mapPanel.map.addControl(polygonControl);

        MESSAGING.getInstance().registerHandler("reset-answer-tool", function(m) {
           markerControl.deactivate();
           polygonControl.deactivate();
           currentAnswer = null;
        });

        MESSAGING.getInstance().registerHandler("set-answer-tool", function(e) {
            var message = JSON.parse(e.message);
            currentAnswer = message;
            if( currentAnswer.type == 'point' ) {
               Ext.example.msg("Info","Click the map at the location requested");
               markerControl.activate();
            } else if( currentAnswer.type == 'polygon' ) {
               // window.alert("color="+currentAnswer.color);
                polygonLayer.styleMap = new OpenLayers.StyleMap({
                        fillColor: '#'+currentAnswer.color,
                        fillOpacity: 0.3
                    });
                Ext.example.msg("Info","Please click on the boundaries of a polygon.<br/>Double-click to end drawing.");
                polygonControl.activate();
            }
        });


        MESSAGING.getInstance().send(new Message("portalReady", {}));
    });


{% endautoescape %}
});
</script>
{% endblock %}
{% block body %}
{% endblock %}
